# Игнорировать файлы с такими расширениями
*.unity3d
*.prefab
*.asset
*.obj
*.fbx
*.dae

# Игнорировать папки
/Library
/Temp
/Logs

# Игнорировать файлы конфигурации
*.meta
*.manifest

# Игнорировать другие файлы
.DS_Store
Thumbs.db
